<div>
  <h1>Lista de productos agregados</h1>
<div class="container">
  <table style="border-style:  solid; padding:25px;">
    <tr>
      <th>Título</th>
      <th>Precio</th>
      <th>Miniatura</th>
    </tr>
    {{#if productos.length}}
    {{#each productos}}
    <tr>
      <td>{{this.title}}</td>
      <td>{{this.price}}</td>
      <td><img height="50px" width="50px" src={{this.photo}} /></td>
    </tr>
    {{/each}}
    {{/if}}
  </table>

</div>
  <a href="/"><button class="btn">Volver al formulario</button></a>

</div>

<style>
.container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.btn{
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    font-weight: 900;
    background-color: rgb(13, 13, 66);
    color: white;
}

</style>